<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <title>{{ question }}</title>
    </head>

    <body>
        <p>User: {{ user }}</p>
        <p>Session: {{ session }}</p>
        <hr/>
        <h1>Title: {{ question.title }}</h1>
        <p>{{ question.author_id }}:<br/>
            {{ question.text }}</p>
        <hr/>
        <ul>
        {% for answer in question.answer_set.all %}
            <li>{{ answer.author_id }}:<br/>
                {{ answer.text }}</li>
        {% endfor %}
        </ul>
    </body>

</html>
